
.header {
    height: 6.25rem;
    display: grid;
    align-items: center;
    background-color: var(--color-deep-ocean);
    padding: 0 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-container {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
}

.logo-container {
    max-width: 5rem; 
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: end;
}

.logo-container img {
    width: 100%;
    height: auto;
    
}

.menu-container {
    display: grid;
    grid-template-columns: auto auto; 
    align-items: center; 
    gap: 10px;
    justify-self: center; 

}

body.rtl .menu-container {
    margin-left: 0;

}

.menu ol {
    list-style: square; 
    display: flex;
    gap: 50px;
    padding: 0;
    margin-right: 4vw;
    color:  var(--color-soft-lavender);
}

body.rtl .menu ol {
    margin-left: 3vw;
}


.menu ol li {
    position: relative;
    font-weight: 500;
    cursor: pointer;
}

body.rtl .menu ol li{
    font-weight: 600 ;
}

.menu a {
    text-decoration: none;
    color: var(--color-steel-gray);
}

/*  */
.resume-btn {
    background: none;
    padding: 8px 15px;
    color: var(--color-frosted-glass);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
}

.link--thebe {
    color:  var(--color-soft-lavender);
    transition: color 0.3s ease;
    transition: all 0.7s ease;
}

body.rtl .link--thebe {
    font-weight: bold;
}

.link--thebe:hover {
    color:  var(--color-soft-lavender);

}

.link--thebe::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--thebe:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 2, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.link--thebe::after {
    content: '';
    top: calc(100% + 4px);
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.4s 0.1s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--thebe:hover::after {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}
  
.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.375rem; 
    cursor: pointer;
}

.hamburger span {
    width: 1.875rem; 
    height: 0.1875rem; 
    background: var(--color-soft-lavender);
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.change-language-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(4rem, 9vw, 5.5rem);
    height: auto;
    cursor: pointer;
    z-index: 100;
    background: transparent;
}
  
.change-language-btn img {
    width: 100%;
    height: auto;
}
  
.change-language-btn span {
    font-size: clamp(0.80rem, 2vw, 1rem);
    font-weight: 600;
    color: var(--color-absolute-white) !important;
    position: absolute;
    text-shadow: 0 -2px 0 #333,
    0 6px 155px rgba(0, 0, 0, .4),
    0 9px 104px rgba(0, 0, 0, .15),
    0 30px 50px rgba(0, 0, 0, .18),
    0 15px 83px rgba(0, 0, 0, .21);
}

#closeButton {
    position: absolute;
    top: -10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    color: var(--color-graphite);
    transition: color 0.3s;
    display: none;

}
body.rtl #closeButton {
    right: auto;
    left: 20px;
}
