
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'header.css';
@import 'fonts.css';
@import 'about-me.css';
@import 'info.css';
@import 'work.css';
@import 'contact.css';
@import 'services.css';
@import 'break.css';





  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }



:root {
  --color-soft-lavender: rgb(197, 163, 255);
  --color-soft-lavender: #c5a3ff; 
  --color-powder-blue: #89a4c7;
  --color-smoky-overlay: rgba(0, 0, 0, 0.5); 
  --color-steel-gray: #8f99a3; 
  --color-pale-sky: #e3eaf3; 
  --color-deep-ocean: #0b0f19; 
  --color-spring-teal: #1c7c7c; 
  --color-neon-blue: #2e5aac; 
  --color-frosted-glass: #f0f4f8; 
  --color-absolute-white: #ffffff; 
  --color-graphite: #1e1e1e;
  --color-frosted-glass-transparent: rgba(240, 244, 248, 0.3); 
  --color-midnight-purple: #3b1f58;
  --color-royal-plum: rgba(65, 54, 95, 0.2); 
  --color-dusty-blue: #6b7a90; 
  --color-charcoal-gray: #333a42; 
  --color-deep-ocean-transparent: rgba(11, 15, 25, 0.8); 
}

html {
  scroll-padding-top: 80px; 
  scroll-behavior: smooth; 
}

body {
  font-family: 'Roboto', 'IRANSansWeb', sans-serif;
  background:  var(--color-deep-ocean);
}

body.rtl h1,
body.rtl h2,
body.rtl h3 {
  font-family: 'IRANSansWeb', sans-serif !important;
  font-weight: 1000 !important; 
}

body.rtl .info-container h3 {
  font-size: clamp(1.3rem, 3vw, 2.3rem) !important;
}

button {
  font-family: 'IRANSansWeb', sans-serif !important;
  font-weight: 500 !important; 
}

html[lang="fa"] p {
  font-family: 'IRANSansWeb', sans-serif !important;
  font-weight: 100 !important;
}

.about-container,
.info-container,
.work-container {
  width: 70% !important;
  margin: 0 auto;
  padding: 5rem 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px); 
  display: none; 
  z-index: 100; 
  transition: all 0.7s ease;
}

.menu-container.open {
  transform: translateX(0);

}

body.menu-open {
  overflow: hidden; 
}

body.rtl {
  direction: rtl; 
  text-align: right; 
}
  
body.ltr {
  direction: ltr; 
  text-align: left;
}
  
main {
  grid-template-columns: auto;
}

a {
  text-decoration: none;
  cursor: pointer !important;
}


header, main, section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}





























    
  
/* موس */

.trail {
    position: absolute;
    width: 9px;
    height: 9px;
    clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
    pointer-events: none;
    opacity: 1;
    z-index: 1000; 
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  